rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Function to check if user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    match /organizations/{orgId}/clients/{clientId}/{allPaths=**} {
      // Allow read/write access to files inside client directories for authenticated users
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
